<form role="form">  
    <div class="form-group">
        <label for="nro_io">IO</label>
        <select class="form-control" id="nro_io" name="nro_io"
                ng-model="config.ionro" ng-required="true"
                ng-options="item as item.io_label for item in config.iolist">
        </select>
    </div>    
    <div class="form-group">
        <label for="tiempo_recarga_seg">Tiempo Recarga (seg.)</label>
        <input type="text" class="form-control" id="tiempo_recarga_seg" ng-model="config.tiempo_recarga_seg" translate translate-attr-placeholder="Tiempo Recarga">
    </div>
    <div class="form-group">
        <label for="ind_muestra_valor" class="col-sm-2 label-adjust">Muestra Valor</label>
        <input class="form-control" type="checkbox" id="ind_muestra_valor" name="ind_muestra_valor" ng-model="config.ind_muestra_valor">
    </div>
    <div class="form-group">
        <label for="ind_muestra_led" class="col-sm-2 label-adjust">Muestra LED</label>
        <input class="form-control" type="checkbox" id="ind_muestra_led" name="ind_muestra_led" ng-model="config.ind_muestra_led">
    </div>
    <div class="form-group">
        <label for="ind_muestra_contador" class="col-sm-2 label-adjust">Muestra Contador</label>
        <input class="form-control" type="checkbox" id="ind_muestra_contador" name="ind_muestra_contador" ng-model="config.ind_muestra_contador">
    </div>
</form>
