<div style="height: 100vh">
  <div class="container-fluid h-100 p-0">
    <div class="row no-gutters h-100">
      <span us-spinner="{radius:30, width:8, length: 16, color:'red'}" spinner-key="spinner-1" style="z-index: 2000;"></span>

      <div ng-show="display.ind_listado" class="col h-100 fadecard" id="main">
        <!-- LISTADO DE SUCESOS -->
        <div class="h-50 table-responsive">
          <tree-grid tree-data="display.sucesotree" tree-control="vm.sucesosctrl" col-defs="display.col_defs"
            on-select="display.showDetalleSuceso(branch)" expand-on="display.expanding_property" expand-level="0"
            template-url="tree_grid.html"></tree-grid>
        </div>

        <!-- CONSOLA -->
        <div class="h-50 consola-sucesos">
          <app-console></app-console>
        </div>
      </div>

      <div ng-if="display.ind_detalle" class="col h-100 fadecard text-center">
        <sector-detalle cod-tema="display.cod_tema" cod-sector="display.cod_sector" on-close="display.showDisplay('listado')" />
      </div>

      <!-- BOTONES -->
      <div class="col-2 order-2 d-none d-md-block d-lg-block col-2 order-2">
        <div class="sticky-top btn-group-vertical w-100">
          <button type="button" class="btn {{display.button_alarma}} btn-lg rounded-0"
            click-and-disable="display.setData(display.io_name,1)" style="height: 25vh">
            <div class="{{display.cs_shaker_alarpre}}"><i class="fas fa-bell fa-2x">&nbsp;</i></div>
            <div>{{display.des_valor_alarma}}</div>
          </button>
          <button type="button" class="btn {{display.button_falla}} btn-lg"
            click-and-disable="display.setData(display.io_name,1)" style="height: 25vh">
            <div class="ng-class: display.cs_shaker_falla"><i class="fas fa-exclamation-triangle fa-2x">&nbsp;</i></div>
            <div>{{display.des_valor_falla}}</div>
          </button>
          <button type="button" class="btn {{display.button_video}} btn-lg" click-and-disable="display.showVideo()"
            style="height: 25vh"><i class="fas fa-video fa-2x">&nbsp;</i>
            <div>VIDEO</div>
          </button>
          <button ng-model="display.bell" class="btn {{display.btn_bell_class}} btn-lg rounded-0" style="height: 16vh"
            click-and-disable="display.switchAudio()">
            <div class="{{display.shake_bell_class}}"><i class="fa fa-bell-slash fa-2x text-white"></i></div>
            <div style="font-size: 100%;" translate>SILENCIAR</div>
          </button>
          <button class="btn btn-lg rounded-0 btn-dark" style="height: 9vh; font-size: 2.5vh;"
            click-and-disable="display.authaction()">
            <div style="font-size: 100%;">{{ display.codUsuario }}</div>
            <div style="font-size: 100%;">{{ display.btnauthtext }}</div>
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
