<div class="titulo_menu">{{movicredsectores.form_title}}</div>
<uib-tabset active="movicredsectores.active" class="bg-local-black">
    <uib-tab index="0" heading="Grilla" ui-sref=".({action:'lista'})">
        <div class="w-100">
            <grilla gridoptions="movicredsectores.gridOptions"
                urlback="movicredsectores"
                api="movicredsectores.grilla=API"
                onclick-export="movicredsectores.exportar(tipo)"
                onclick-delete="movicredsectores.confirmDelete()"
                class="d-flex flex-column w-100" style="height: 520px;"
            />
        </div>        
    </uib-tab>
    <uib-tab index="1" ui-sref=".({action:'detalle'})" heading="Detalle">
        <div class="container-fluid">
            <div class="row justify-content-md-center w-100">
                <div class="col-6">

                    <div class="form-group input-append date first-avail">
                        <label for="stm_ingreso" class="col-sm-10 label-adjust" translate>Fecha</label>
                        <input type="date" class="form-control form-control-sm" id="stm_ingreso" name="stm_ingreso"
                                ng-model="movicredsectores.movisector.stm_ingreso" fmtdatetimesql readonly/>
                    </div>

                    <div class="form-group input-append date first-avail">
                            <label for="tiempo_permanencia" class="col-sm-10 label-adjust" translate>Tiempo Permanencia</label>
                            <input type="text" class="form-control form-control-sm" id="stm_ingreso" name="tiempo_permanencia"
                                    ng-model="movicredsectores.movisector.tiempo_permanencia" readonly/>
                    </div>
    

                    <div class="form-group">
                        <label for="cod_credencial" class="col-sm-10 label-adjust" translate>Cód. Tarjeta</label>
                        <input type="text" class="form-control form-control-sm" id="cod_credencial" name="cod_credencial" readonly=""
                               ng-model="movicredsectores.movisector.cod_credencial" formatted="ftTarjeta">
                    </div>

                    <div class="form-group">
                        <label for="ref_credencial" class="col-sm-10 label-adjust" translate>Ref. Tarjeta</label>
                        <input type="text" class="form-control form-control-sm" id="ref_credencial" name="ref_credencial" readonly=""
                               ng-model="movicredsectores.movisector.ref_credencial" >
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="nom_persona" class="col-sm-10 label-adjust" translate>Nombre</label>
                        <input type="text" class="form-control form-control-sm" id="nom_persona" name="nom_persona" translate translate-attr-placeholder="Nombre"
                               ng-model="movicredsectores.movisector.nom_persona" readonly="">
                    </div>

                    <div class="form-group">
                        <label for="ape_persona" class="col-sm-10 label-adjust" translate>Apellido</label>
                        <input type="text" class="form-control form-control-sm" id="ape_persona" name="ape_persona" translate translate-attr-placeholder="Apellido"
                               ng-model="movicredsectores.movisector.ape_persona" readonly="">
                    </div>

                    <div class="form-group">
                        <label for="nro_documento" class="col-sm-10 label-adjust" translate>Nro. Documento</label>
                        <input type="text" class="form-control form-control-sm" id="nro_documento" name="nro_documento" translate translate-attr-placeholder="Nro. Documento"
                               ng-model="movicredsectores.movisector.nro_documento" readonly="">
                    </div>

                    <div class="form-group">
                        <label for="cod_sector" class="col-sm-10 label-adjust" translate>Sector</label>
                        <input type="text" class="form-control form-control-sm" id="cod_sector" name="cod_sector" translate translate-attr-placeholder="Sector"
                               ng-model="movicredsectores.movisector.cod_sector" readonly="">
                    </div>

                    <div class="form-group">
                        <label for="nom_ou" class="col-sm-10 label-adjust" translate>Organización</label>
                        <input type="text" class="form-control form-control-sm" id="nom_ou" name="nom_ou" translate translate-attr-placeholder="Organización"
                               ng-model="movicredsectores.movisector.nom_ou" readonly="">
                    </div>
                </div>                
            </div>
            <div class="modal-footer p-2"></div>
        </div>
    </uib-tab>
</uib-tabset>
