<form role="form">  
    <div class="form-group">
        <label for="io_name">IO</label>
        <input type="text" class="form-control" id="io_name" ng-model="config.io_name" translate translate-attr-placeholder="Nombre IO">
    </div>
    <div class="form-group">
        <label for="cod_equipo">Equipo</label>
        <input type="text" class="form-control" id="cod_equipo" ng-model="config.cod_equipo" translate translate-attr-placeholder="Cód Equipo">
    </div>
    <div class="form-group">
        <label for="color_0">Color 0</label>
        <input type="text" class="form-control" id="color_0" ng-model="config.color_0" translate translate-attr-placeholder="Color 0">
    </div>
    <div class="form-group">
        <label for="color_1">Color 1</label>
        <input type="text" class="form-control" id="color_1" ng-model="config.color_1" translate translate-attr-placeholder="Color 1">
    </div>
    <div class="form-group">
        <label for="direction">Dirección</label>
        <input type="text" class="form-control" id="direction" ng-model="config.direction" translate translate-attr-placeholder="Dirección">
    </div>
    <div class="form-group">
          <label for="tiempo_recarga_seg">Tiempo Recarga (seg.)</label>
          <input type="text" class="form-control" id="tiempo_recarga_seg" ng-model="config.tiempo_recarga_seg" translate translate-attr-placeholder="Tiempo Recarga">
    </div>
</form>
