<div class="titulo_menu">{{novedades.form_title}}</div>
<uib-tabset active="novedades.active" class="bg-local-black">
  <uib-tab index="0" heading="Grilla" ui-sref=".({action:'lista'})">
    <div class="w-100">
      <grilla gridoptions="novedades.gridOptions" 
        onclick-edit="novedades.toggle(accion)" onclick-add="novedades.toggle(accion)"
        onclick-export="novedades.exportar(tipo)" onclick-delete="novedades.confirmDelete()" urlback="novedades"
        api="novedades.grilla=API" 
        class="d-flex flex-column w-100" style="height: 520px;"
        />
    </div>
  </uib-tab>
  <uib-tab index="1" ui-sref=".({action:'detalle'})" heading="Detalle">
    <div class="container-fluid">
      <div class="row justify-content-md-center w-100">
            <div class="col-md-6">
        <div class="form-group">
          <label for="cod_empresa_dt" class="col-sm-10 label-adjust">Organización <span
              class="field-required">*</span></label>
          <select class="form-control form-control-sm" id="cod_empresa_dt" name="cod_empresa_dt"
            ng-model="novedades.novedad_dt.cod_empresa" ng-required="true" disabled
            ng-options="item.cod_ou as item.nom_ou for item in novedades.ouList">
          </select>
        </div>

        <div class="form-group">
          <label for="des_empleado_dt" class="col-sm-10 label-adjust">Empleado <span
              class="field-required">*</span></label>
            <input type="text" class="form-control form-control-sm" id="des_empleado_dt" name="des_empleado_dt"
              placeholder="Empleado" ng-model="novedades.novedad_dt.des_empleado" readonly>
        </div>

        <div class="form-group">
          <label for="tipo_novedad_dt" class="col-sm-10 label-adjust">Tipo Novedad <span
              class="field-required">*</span></label>
          <select class="form-control form-control-sm" id="tipo_novedad_dt" name="tipo_novedad_dt"
            ng-model="novedades.novedad_dt.tipo_novedad" ng-required="true" disabled
            ng-options="item.tipo_novedad as item.nom_novedad for item in novedades.tiposNovedades">
          </select>
        </div>

        <div class="form-group input-append date first-avail">
          <label for="fec_novedad_desde_dt" class="col-sm-10 label-adjust">Fecha Novedad Desde <span
              class="field-required">*</span></label>
          <input type="date" class="form-control form-control-sm" id="fec_novedad_desde_dt" name="fec_novedad_desde_dt" ng-required="true"
             readonly ng-model="novedades.novedad_dt.fec_novedad_desde" fmtdatetimesql/>
        </div>

        <div class="form-group input-append date first-avail">
          <label for="fec_novedad_hasta_dt" class="col-sm-10 label-adjust">Fecha Novedad Hasta <span
              class="field-required">*</span></label>
          <input type="date" class="form-control form-control-sm" id="fec_novedad_hasta_dt" name="fec_novedad_hasta_dt" ng-required="true"
            ng-model="novedades.novedad_dt.fec_novedad_hasta" fmtdatetimesql/>
        </div>

        <div class="form-group">
          <label for="des_novedad_dt" class="col-sm-10 label-adjust">Descripción <span
              class="field-required">*</span></label>
          <input type="text" class="form-control form-control-sm" id="des_novedad_dt" name="des_novedad_dt"
            placeholder="Descripción" ng-model="novedades.novedad_dt.des_novedad" readonly>
        </div>
        </div>
      </div>
      <div class="modal-footer p-2">
        <span class="legend-line">(<span class="field-required">*</span>: campo requerido)</span>
      </div>
    </div>
  </uib-tab>

  <uib-tab index="2" heading="{{novedades.action_title}}" ui-sref=".({action:novedades.action})"
    ng-hide="novedades.hide">
    <div class="container-fluid">
      <ng-form name="frmNovedades" class="form-horizontal" novalidate ng-validator>
        <div class="row justify-content-md-center w-100">
          <div class="col-md-6">

            <div class="form-group">
              <label for="cod_empresa" class="col-sm-10 label-adjust">Organización <span
                  class="field-required">*</span></label>
              <select class="form-control form-control-sm" id="cod_empresa" name="cod_empresa"
                ng-model="novedades.novedad.cod_empresa" ng-required="true" ng-disabled="novedades.noteditable"
                ng-options="item.cod_ou as item.nom_ou for item in novedades.ouList"
                ng-change="novedades.getEmpleados()">
              </select>
              <span class="help-inline"
                ng-show="frmNovedades.cod_empresa.$invalid && frmNovedades.cod_empresa.$touched">Debe seleccionar una
                Organización</span>
            </div>

            <div class="form-group" ng-show="novedades.action == 'agrega'">
              <label for="sel_empleado" class="col-sm-10 label-adjust">Empleados <span
                  class="field-required">*</span></label>
              <ui-select multiple ui-hide-choices ng-model="novedades.novedad.empleadosSel" id="sel_empleado"
                name="sel_empleado" append-to-body="false" ng-required="true" close-on-select="false">
                <ui-select-match placeholder="Empleados">{{$item.des_empleado}}</ui-select-match>
                <ui-select-choices ng-hide="!$select.open"
                  repeat="empleado.cod_empleado as empleado in novedades.empleadosList | filter: $select.search">
                  <small ng-bind-html="empleado.des_empleado | highlight: $select.search"></small>
                </ui-select-choices>
              </ui-select>
              <span class="help-inline"
                ng-show="frmNovedades.sel_empleado.$invalid && frmNovedades.sel_empleado.$touched">Debe seleccionar un Empleado</span>
            </div>

            <div class="form-group" ng-show="novedades.action != 'agrega'">
              <label for="des_empleado" class="col-sm-10 label-adjust">Empleado <span
                  class="field-required">*</span></label>
                <input type="text" class="form-control form-control-sm" id="des_empleado" name="des_empleado"
                  placeholder="Empleado" ng-model="novedades.novedad.des_empleado" readonly>
            </div>

            <div class="form-group">
              <label for="tipo_novedad" class="col-sm-10 label-adjust">Tipo Novedad <span
                  class="field-required">*</span></label>
              <select class="form-control form-control-sm" id="tipo_novedad" name="tipo_novedad"
                ng-model="novedades.novedad.tipo_novedad" ng-required="true" ng-disabled="novedades.noteditable"
                ng-options="item.tipo_novedad as item.nom_novedad for item in novedades.tiposNovedades">
              </select>
              <span class="help-inline"
                ng-show="frmNovedades.tipo_novedad.$invalid && frmNovedades.tipo_novedad.$touched">Debe seleccionar un Tipo Novedad</span>
            </div>

            <div class="form-group input-append date first-avail"
              ng-class="{'has-warning' : frmNovedades.fec_novedad_desde.$dirty}">
              <label for="fec_novedad_desde" class="col-sm-10 label-adjust">Fecha Novedad Desde <span
                  class="field-required">*</span></label>
              <input type="date" class="form-control form-control-sm" id="fec_novedad_desde" name="fec_novedad_desde"
                ng-required="true" ng-readonly="novedades.noteditable" ng-model="novedades.novedad.fec_novedad_desde" fmtdatetimesql/>
            </div>

            <div class="form-group input-append date first-avail"
              ng-class="{'has-warning' : frmNovedades.fec_novedad_hasta.$dirty}">
              <label for="fec_novedad_hasta" class="col-sm-10 label-adjust">Fecha Novedad Hasta <span
                  class="field-required">*</span></label>
              <input type="date" class="form-control form-control-sm" id="fec_novedad_hasta" name="fec_novedad_hasta"
                ng-required="true" ng-model="novedades.novedad.fec_novedad_hasta" fmtdatetimesql/>
            </div>

            <div class="form-group">
              <label for="des_novedad" class="col-sm-10 label-adjust">Descripción <span
                  class="field-required">*</span></label>
              <input type="text" class="form-control form-control-sm" id="des_novedad" name="des_novedad"
                placeholder="Descripción" ng-model="novedades.novedad.des_novedad" ng-required="true">
              <span class="help-inline"
                ng-show="frmNovedades.des_novedad.$invalid && frmNovedades.des_novedad.$touched">Debe ingresar una Descripción</span>
            </div>
          </div>
        </div>
        <div class="modal-footer p-2">
          <span class="legend-line">(<span class="field-required">*</span>: campo requerido)</span>
          <!--Use "ng-mousedown" (occurring earlier) instead of "ng-click" to avoid previous focused input element "on-blur" action before clicking Add button-->
          <button dtcancela hide-tab="novedades.hide" type="button"
            class="btn btn-outline-danger btn-sm">Cancelar</button>
          <button type="button" class="btn btn-outline-success btn-sm"
            ng-class="{'modal-button-primary': frmNovedades.$valid, 'modal-button-primary-disabled': !(frmNovedades.$valid && frmNovedades.$dirty)} "
            ng-disabled="!(frmNovedades.$dirty)" click-and-disable="novedades.ok()">&#160;Grabar&#160;</button>
        </div>
      </ng-form>
    </div>
  </uib-tab>
</uib-tabset>
