<hr style="border-color:white;" />
<div class="row justify-content-md-center w-100">
  <div class="col-md-4">
    <div class="form-group">
      <label for="url_check" class="col-sm-10 label-adjust">URL a verificar<span class="field-required">*</span></label>
      <input type="text" class="form-control form-control-sm" id="url_check" name="url_check" placeholder="url"
        ng-model="comunic.json_parametros.url_check" ng-required="true">
    </div>
    <div class="form-group">
      <label for="intervalo_seg" class="col-sm-10 label-adjust">Intervalo (segundos)<span
          class="field-required">*</span></label>
      <input type="text" class="form-control form-control-sm" id="intervalo_seg" name="intervalo_seg"
        placeholder="intervalo seg" ng-model="comunic.json_parametros.intervalo_seg" ng-required="true">
    </div>
    <div class="form-group">
      <label for="comunic_count" class="col-sm-10 label-adjust">Contador <span class="field-required">*</span></label>
      <select class="form-control form-control-sm" ng-model="comunic.json_parametros.count" ng-required="true">
        <option value="true">Sí</option>
        <option value="false">No</option>
      </select>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
        <label for="din_val_NO" class="col-sm-10 label-adjust">Valor Normal</label>
        <input type="text" class="form-control form-control-sm" id="din_val_NO" name="din_val_NO" placeholder="valor normal" ng-model="comunic.json_parametros.val_NO" ng-required="false">
    </div>
    <div class="form-group">
        <label for="din_val_AL" class="col-sm-10 label-adjust">Valor Alarma</label>
        <input type="text" class="form-control form-control-sm" id="din_val_AL" name="din_val_AL" placeholder="valor alarma" ng-model="comunic.json_parametros.val_AL" ng-required="false">
    </div>
    <div class="form-group">
        <label for="din_val_AT" class="col-sm-10 label-adjust">Valor Desconexión</label>
        <input type="text" class="form-control form-control-sm" id="din_val_DE" name="din_val_DE" placeholder="valor desconexión" ng-model="comunic.json_parametros.val_DE" ng-required="false">
    </div>
    <div class="form-group">
        <label for="comunic_val_omision" class="col-sm-10 label-adjust">Valor por omisión</label>
        <input type="text" class="form-control form-control-sm" id="comunic_val_omision" name="comunic_val_omision" placeholder="valor omision" ng-model="comunic.json_parametros.valor_omision" ng-required="false">
    </div>

    <div class="form-group">
        <label for="ind_manual" class="col-sm-10 label-adjust">Permite modificación manual<span class="field-required">*</span></label>
        <select class="form-control form-control-sm" ng-model="comunic.json_parametros.ind_manual" ng-required="true">
            <option value="1">Sí</option>
            <option value="0">No</option>
        </select>
    </div>
    <div class="form-group">
        <label for="ind_auto_reset" class="col-sm-10 label-adjust">Restaura automáticamente<span class="field-required">*</span></label>
        <select class="form-control form-control-sm" ng-model="comunic.json_parametros.auto_reset" ng-required="true">
            <option value="1">Sí</option>
            <option value="0">No</option>
        </select>
    </div>

  </div>
</div>
