<div>
  <label class="col label-adjust" translate>Lunes</label>
  <div class="input-group">
    <div class="col-5"><input class="form-control input-xs" type="text" name="desde" ng-change="vm.onchange()" translate translate-attr-placeholder="HH:MM Desde" ng-model="vm.JSONdata[1].hi" ng-readonly="vm.setReadOnly"
        ignore-dirty formatted="ftHora"/></div>
    <div class="col-5"><input class="form-control input-xs" type="text" name="hasta" ng-change="vm.onchange() "placeholder="HH:MM Hasta" ng-model="vm.JSONdata[1].he" ng-readonly="vm.setReadOnly"
        ignore-dirty formatted="ftHora"/></div>
  </div>

  <label class="col label-adjust" translate>Martes</label>
  <div class="input-group">
    <div class="col-5"><input class="form-control input-xs" type="text" name="desde" ng-change="vm.onchange()" translate translate-attr-placeholder="HH:MM Desde" ng-model="vm.JSONdata[2].hi" ng-readonly="vm.setReadOnly"
        ignore-dirty formatted="ftHora" /></div>
    <div class="col-5"><input class="form-control input-xs" type="text" name="hasta" ng-change="vm.onchange()" translate translate-attr-placeholder="HH:MM Hasta" ng-model="vm.JSONdata[2].he" ng-readonly="vm.setReadOnly"
        ignore-dirty formatted="ftHora" /></div>
  </div>

  <label class="col label-adjust" translate>Miércoles</label>
  <div class="input-group">
    <div class="col-5"><input class="form-control input-xs" type="text" name="desde" ng-change="vm.onchange()" translate translate-attr-placeholder="HH:MM Desde" ng-model="vm.JSONdata[3].hi" ng-readonly="vm.setReadOnly"
        ignore-dirty formatted="ftHora" /></div>
    <div class="col-5"><input class="form-control input-xs" type="text" name="hasta" ng-change="vm.onchange()" translate translate-attr-placeholder="HH:MM Hasta" ng-model="vm.JSONdata[3].he" ng-readonly="vm.setReadOnly"
        ignore-dirty formatted="ftHora" /></div>
  </div>

  <label class="col label-adjust" translate>Jueves</label>
  <div class="input-group">
    <div class="col-5"><input class="form-control input-xs" type="text" name="desde" ng-change="vm.onchange()" translate translate-attr-placeholder="HH:MM Desde" ng-model="vm.JSONdata[4].hi" ng-readonly="vm.setReadOnly"
        ignore-dirty formatted="ftHora" /></div>
    <div class="col-5"><input class="form-control input-xs" type="text" name="hasta" ng-change="vm.onchange()" translate translate-attr-placeholder="HH:MM Hasta" ng-model="vm.JSONdata[4].he" ng-readonly="vm.setReadOnly"
        ignore-dirty formatted="ftHora" /></div>
  </div>

  <label class="col label-adjust" translate>Viernes</label>
  <div class="input-group">
    <div class="col-5"><input class="form-control input-xs" type="text" name="desde" ng-change="vm.onchange()" translate translate-attr-placeholder="HH:MM Desde" ng-model="vm.JSONdata[5].hi" ng-readonly="vm.setReadOnly"
        ignore-dirty formatted="ftHora" /></div>
    <div class="col-5"><input class="form-control input-xs" type="text" name="hasta" ng-change="vm.onchange()" translate translate-attr-placeholder="HH:MM Hasta" ng-model="vm.JSONdata[5].he" ng-readonly="vm.setReadOnly"
        ignore-dirty formatted="ftHora" /></div>
  </div>

  <label class="col label-adjust" translate>Sábado</label>
  <div class="input-group">
    <div class="col-5"><input class="form-control input-xs" type="text" name="desde" ng-change="vm.onchange()" translate translate-attr-placeholder="HH:MM Desde" ng-model="vm.JSONdata[6].hi" ng-readonly="vm.setReadOnly"
        ignore-dirty formatted="ftHora" /></div>
    <div class="col-5"><input class="form-control input-xs" type="text" name="hasta" ng-change="vm.onchange()" translate translate-attr-placeholder="HH:MM Hasta" ng-model="vm.JSONdata[6].he" ng-readonly="vm.setReadOnly"
        ignore-dirty formatted="ftHora" /></div>
  </div>

  <label class="col label-adjust" translate>Domingo</label>
  <div class="input-group">
    <div class="col-5"><input class="form-control input-xs" type="text" name="desde" ng-change="vm.onchange()" translate translate-attr-placeholder="HH:MM Desde" ng-model="vm.JSONdata[0].hi" ng-readonly="vm.setReadOnly"
        ignore-dirty formatted="ftHora" /></div>
    <div class="col-5"><input class="form-control input-xs" type="text" name="hasta" ng-change="vm.onchange()" translate translate-attr-placeholder="HH:MM Hasta" ng-model="vm.JSONdata[0].he" ng-readonly="vm.setReadOnly"
        ignore-dirty formatted="ftHora" /></div>
  </div>

  <label class="col label-adjust" translate>Feriado</label>
  <div class="input-group">
    <div class="col-5"><input class="form-control input-xs" type="text" name="desde" ng-change="vm.onchange()" translate translate-attr-placeholder="HH:MM Desde" ng-model="vm.JSONdata[7].hi" ng-readonly="vm.setReadOnly" 
        ignore-dirty formatted="ftHora" /></div>
    <div class="col-5"><input class="form-control input-xs" type="text" name="hasta" ng-change="vm.onchange()" translate translate-attr-placeholder="HH:MM Hasta" ng-model="vm.JSONdata[7].he" ng-readonly="vm.setReadOnly"
        ignore-dirty formatted="ftHora" /></div>
  </div>
</div>
