<hr style="border-color:white;"/>
<div class="row justify-content-md-center w-100">
    <div class="col-md-4">
        <div class="form-group">
            <label for="din_val_NO" class="col-sm-10 label-adjust">Valor Normal</label>
            <input type="text" class="form-control form-control-sm" id="din_val_NO" name="din_val_NO" placeholder="valor normal" ng-model="dinext.json_parametros.val_NO" ng-required="false">
        </div>
        <div class="form-group">
            <label for="din_val_AL" class="col-sm-10 label-adjust">Valor Alarma</label>
            <input type="text" class="form-control form-control-sm" id="din_val_AL" name="din_val_AL" placeholder="valor alarma" ng-model="dinext.json_parametros.val_AL" ng-required="false">
        </div>
        <div class="form-group">
            <label for="din_delay_sec_AL" class="col-sm-10 label-adjust">Retiene Alarma (seg.)</label>
            <input type="text" class="form-control form-control-sm" id="din_delay_sec_AL" name="din_delay_sec_AL" placeholder="segundos" ng-model="dinext.json_parametros.val_delay_sec_AL" ng-required="false">
        </div>
        <div class="form-group">
            <label for="din_val_PA" class="col-sm-10 label-adjust">Valor Pre Alarma</label>
            <input type="text" class="form-control form-control-sm" id="din_val_PA" name="din_val_PA" placeholder="valor prealarma" ng-model="dinext.json_parametros.val_PA" ng-required="false">
        </div>
        <div class="form-group">
            <label for="din_val_AT" class="col-sm-10 label-adjust">Valor Alarma Técnica</label>
            <input type="text" class="form-control form-control-sm" id="din_val_AT" name="din_val_AT" placeholder="valor alarma técnica" ng-model="dinext.json_parametros.val_AT" ng-required="false">
        </div>
        <div class="form-group">
            <label for="din_val_AT" class="col-sm-10 label-adjust">Valor Desconexión</label>
            <input type="text" class="form-control form-control-sm" id="din_val_DE" name="din_val_DE" placeholder="valor desconexión" ng-model="dinext.json_parametros.val_DE" ng-required="false">
        </div>

        <div class="form-group">
            <label for="din_val_FA" class="col-sm-10 label-adjust">Valor Falla</label>
            <input type="text" class="form-control form-control-sm" id="din_val_FA" name="din_val_FA" placeholder="valor falla" ng-model="dinext.json_parametros.val_FA" ng-required="false">
        </div>

        <div class="form-group">
            <label for="din_val_evento" class="col-sm-10 label-adjust">Valor Evento</label>
            <input type="text" class="form-control form-control-sm" id="din_val_EV" name="din_val_EV" placeholder="valor evento" ng-model="dinext.json_parametros.val_EV" ng-required="false">
        </div>

        <div class="form-group">
            <label for="din_val_omision" class="col-sm-10 label-adjust">Valor por omisión</label>
            <input type="text" class="form-control form-control-sm" id="din_val_omision" name="din_val_omision" placeholder="valor omision" ng-model="dinext.json_parametros.valor_omision" ng-required="false">
        </div>

        <div class="form-group">
            <label for="din_val_ignorado" class="col-sm-10 label-adjust">Ignora valor</label>
            <input type="text" class="form-control form-control-sm" id="din_val_ignorado" name="din_val_ignorado" placeholder="valor ignorar" ng-model="dinext.json_parametros.val_IG" ng-required="false">
        </div>



        <div class="form-group">
            <label for="din_count" class="col-sm-10 label-adjust">Contador <span class="field-required">*</span></label>
            <select class="form-control form-control-sm" ng-model="dinext.json_parametros.count" ng-required="true">
                <option value="true">Sí</option>
                <option value="false">No</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">  
        <div class="form-group">
            <label for="io" class="col-sm-10 label-adjust">GPIO<span class="field-required">*</span></label>
            <input type="text" class="form-control form-control-sm" id="io" name="io" placeholder="GPIO" ng-model="dinext.json_parametros.io" ng-required="true">
        </div>
        <div class="form-group">
            <label for="ind_manual" class="col-sm-10 label-adjust">Permite modificación manual<span class="field-required">*</span></label>
            <select class="form-control form-control-sm" ng-model="dinext.json_parametros.ind_manual" ng-required="true">
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ind_auto_reset" class="col-sm-10 label-adjust">Restaura automáticamente<span class="field-required">*</span></label>
            <select class="form-control form-control-sm" ng-model="dinext.json_parametros.auto_reset" ng-required="true">
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="bus_id" class="col-sm-10 label-adjust">Identificador del bus<span class="field-required">*</span></label>
            <input type="text" class="form-control form-control-sm" id="bus_id" name="bus_id" placeholder="bus_id" ng-model="dinext.json_parametros.bus_id" ng-required="true">
        </div>

    </div>
</div>
