<hr style="border-color:white;"/>
<div class="row justify-content-md-center w-100">
    <div class="col-md-4">
        <div class="form-group">
            <label for="din_val_NO" class="col-sm-10 label-adjust" translate>Valor Normal</label>
            <input type="text" class="form-control form-control-sm" id="din_val_NO" name="din_val_NO" translate translate-attr-placeholder="Valor Normal" ng-model="dinext.json_parametros.val_NO" ng-required="false">
        </div>
        <div class="form-group">
            <label for="din_val_AL" class="col-sm-10 label-adjust" translate>Valor Alarma</label>
            <input type="text" class="form-control form-control-sm" id="din_val_AL" name="din_val_AL" translate translate-attr-placeholder="Valor Alarma" ng-model="dinext.json_parametros.val_AL" ng-required="false">
        </div>
        <div class="form-group">
            <label for="din_delay_sec_AL" class="col-sm-10 label-adjust" translate>Retiene Alarma (seg.)</label>
            <input type="text" class="form-control form-control-sm" id="din_delay_sec_AL" name="din_delay_sec_AL" translate translate-attr-placeholder="segundos" ng-model="dinext.json_parametros.val_delay_sec_AL" ng-required="false">
        </div>
        <div class="form-group">
            <label for="din_val_PA" class="col-sm-10 label-adjust" translate>Valor Pre Alarma</label>
            <input type="text" class="form-control form-control-sm" id="din_val_PA" name="din_val_PA" translate translate-attr-placeholder="Valor Pre Alarma" ng-model="dinext.json_parametros.val_PA" ng-required="false">
        </div>
        <div class="form-group">
            <label for="din_val_AT" class="col-sm-10 label-adjust" translate>Valor Alarma Técnica</label>
            <input type="text" class="form-control form-control-sm" id="din_val_AT" name="din_val_AT" translate translate-attr-placeholder="Valor Alarma Técnica" ng-model="dinext.json_parametros.val_AT" ng-required="false">
        </div>
        <div class="form-group">
            <label for="din_val_AT" class="col-sm-10 label-adjust" translate>Valor Desconexión</label>
            <input type="text" class="form-control form-control-sm" id="din_val_DE" name="din_val_DE" translate translate-attr-placeholder="Valor Desconexión" ng-model="dinext.json_parametros.val_DE" ng-required="false">
        </div>

        <div class="form-group">
            <label for="din_val_FA" class="col-sm-10 label-adjust" translate>Valor Falla</label>
            <input type="text" class="form-control form-control-sm" id="din_val_FA" name="din_val_FA" translate translate-attr-placeholder="Valor Falla" ng-model="dinext.json_parametros.val_FA" ng-required="false">
        </div>

        <div class="form-group">
            <label for="din_val_evento" class="col-sm-10 label-adjust" translate>Valor Evento</label>
            <input type="text" class="form-control form-control-sm" id="din_val_EV" name="din_val_EV" translate translate-attr-placeholder="Valor Evento" ng-model="dinext.json_parametros.val_EV" ng-required="false">
        </div>

        <div class="form-group">
            <label for="din_val_omision" class="col-sm-10 label-adjust" translate>Valor por omisión</label>
            <input type="text" class="form-control form-control-sm" id="din_val_omision" name="din_val_omision" translate translate-attr-placeholder="Valor por Omision" ng-model="dinext.json_parametros.valor_omision" ng-required="false">
        </div>

        <div class="form-group">
            <label for="din_val_ignorado" class="col-sm-10 label-adjust" translate>Ignora valor</label>
            <input type="text" class="form-control form-control-sm" id="din_val_ignorado" name="din_val_ignorado" translate translate-attr-placeholder="Ignora valor" ng-model="dinext.json_parametros.val_IG" ng-required="false">
        </div>



        <div class="form-group">
            <label for="din_count" class="col-sm-10 label-adjust" ><span translate>Contador</span><span class="field-required"> *</span></label>
            <select class="form-control form-control-sm" ng-model="dinext.json_parametros.count" ng-required="true">
                <option value="true" translate>Sí</option>
                <option value="false" translate>No</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">  
        <div class="form-group">
            <label for="io" class="col-sm-10 label-adjust" ><span translate>GPIO</span><span class="field-required"> *</span></label>
            <input type="text" class="form-control form-control-sm" id="io" name="io" translate translate-attr-placeholder="GPIO" ng-model="dinext.json_parametros.io" ng-required="true">
        </div>
        <div class="form-group">
            <label for="ind_manual" class="col-sm-10 label-adjust"  ><span translate>Permite modificación manual</span><span class="field-required"> *</span></label>
            <select class="form-control form-control-sm" ng-model="dinext.json_parametros.ind_manual" ng-required="true">
                <option value="1" translate>Sí</option>
                <option value="0" translate>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ind_auto_reset" class="col-sm-10 label-adjust" ><span translate>Restaura automáticamente</span><span class="field-required"> *</span></label>
            <select class="form-control form-control-sm" ng-model="dinext.json_parametros.auto_reset" ng-required="true">
                <option value="1" translate>Sí</option>
                <option value="0" translate>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="bus_id" class="col-sm-10 label-adjust" ><span translate>Identificador del bus</span><span class="field-required"> *</span></label>
            <input type="text" class="form-control form-control-sm" id="bus_id" name="bus_id" translate translate-attr-placeholder="Identificador del bus" ng-model="dinext.json_parametros.bus_id" ng-required="true">
        </div>

    </div>
</div>
