<div ng-show="vm.showfilters" class="card filtercard w-100 bg-dark border-light">
    <div class="card-body">
      <div class="row form-group">
        <div class="col-2" translate>Filtros</div>
        <div class="col-5">
          <select id="ddlSearchType" class="form-control form-control-sm"
            ng-class="{'placeholder-color': vm.pfiltro.selected == '0', 'control-color': vm.pfiltro.selected != '0' }"
            ng-model="vm.pfiltro.selected" ng-options="item.id as item.name for item in vm.filtrosoptions"
            options-class="{'placeholder-color':'placeholder', 'control-color':'data'} "
            ng-focus="vm.errorMessage = ''"></select>
        </div>
        <div class="col-5">
          <input id="txtSearchText" type="text" ng-model="vm.pfiltro.text" class="form-control form-control-sm"
            translate translate-attr-placeholder="búsqueda" maxlength="25" ng-focus="vm.errorMessage = ''">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-2">Entre</div>
        <div class="col-5">
          <input type="date" ng-model="vm.pfiltro.pAvailableFrom" ng-focus="vm.errorMessage = ''"
            class="form-control form-control-sm" fmtdatetimesql />
        </div>
        <div class="col-5">
          <input type="date" ng-model="vm.pfiltro.pAvailableTo" ng-focus="vm.errorMessage = ''"
            class="form-control form-control-sm" fmtdatetimesql />
        </div>
      </div>
    
      <div class="row form-group" ng-show="vm.showRefreshBtn">
        <div class="">
          <label class="m-0" translate>Actualización automática</label>
          <label class="m-0 switch"><input ng-model="vm.autorefreshint" ng-change="vm.onChangeAutoRefresh(vm.autorefreshint)" type="checkbox"></label>
        </div>
      </div>
      <div class="row d-flex justify-content-end">
        <button type="button" class="btn btn-outline-light btn-sm btn-detail mr-1"
          ng-click="vm.setDefaultSearchItems()">&#160;<span translate>Limpiar</span>&#160;</button>
        <button type="button" class="btn btn-outline-primary btn-sm"
          click-and-disable="vm.cargaGrilla(1)">&#160;&#160;<span  translate>Buscar</span>&#160;&#160;</button>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column h-100">
    <div class="d-flex mt-1 mb-1 justify-content-between">
      <div class="">
        <button class="btn btn-outline-primary btn-sm" ng-show="vm.addHasCallback()" ui-sref=".({action:'agrega'})"
          xng-click="vm.onclickAdd({accion: 'add', selected: selected})" ><span translate>Agregar</span></button>
        <button class="btn btn-outline-light btn-sm" ng-show="vm.copyHasCallback() "
          ng-click="vm.gotoSREF('.',{action: vm.copySref });"><span translate>Copiar</span></button>
        <button class="btn btn-outline-warning btn-sm btn-detail" ng-show="vm.editHasCallback() "
          ng-click="vm.gotoSREF('.',{action:'edita'});" ><span translate>Modificar</span></button>
        <button class="btn btn-outline-danger btn-sm btn-delete" ng-show="vm.deleteHasCallback()"
          ng-click="vm.onclickDelete({selected: vm.getSelected()})"><span translate>Eliminar</span></button>
        <button class="btn btn-outline-default btn-sm btn-detail" ng-show="vm.detailHasCallback()"
          ng-click="vm.onclickDetail({selected: vm.getSelected()})"><span translate>Detalle</span></button>
        <div class="btn-group" role="group" uib-dropdown ng-show="vm.exportHasCallback()">
          
          <button id="single-button" type="button" class="btn btn-outline-info btn-sm dropdown-toggle"
            uib-dropdown-toggle ><span translate>Exportar</span><span class="caret"></span>
          </button>
          <div class="dropdown-menu btn-outline-info" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <a ng-click="vm.onclickExport({tipo: 'xls'})" class="dropdown-item">XLS</a>
            <a ng-click="vm.onclickExport({tipo: 'csv'})" class="dropdown-item">CSV</a>
            <!-- a ng-click="onclickExport({tipo: 'pdf'})" class="dropdown-item">PDF</a -->
          </div>
        </div>
      </div>
      <div class="">
        <ul uib-pagination total-items="vm.totalItems" items-per-page="vm.pageSize" ng-change="vm.cargaGrilla()" ng-model="vm.pageNumber"
          max-size="4" class="pagination-sm" boundary-links="true" num-pages="vm.totalPages" force-ellipses="true"
          last-text="{{'Última' | translate}}" next-text="{{'Siguiente' | translate}}" first-text="{{'Primera' | translate}}" previous-text="{{'Anterior' | translate}}"
          style="margin-bottom: 0px;"></ul>
      </div>
      <div class="m-1 text-right"><span translate>Total:</span><span> {{ vm.totalItems}}</span>
      </div>
    </div>
    <div ng-if="vm.loadGrid" class="grid h-100" ui-grid="vm.gridoptions"  ui-grid-resize-columns ui-grid-move-columns
      ui-grid-selection ></div>
      <!-- ui-grid-auto-resize  xui-grid-infinite-scroll -->
</div>
