    <div>
        <img ng-if="adjuntarFile.viewFile" class="form-input-img img-thumbnail" />
        <p ng-if="!adjuntarFile.viewFile && adjuntarFile.fileinput.name" class="form-input-img img-thumbnail" ng-bind="adjuntarFile.fileinput.name"></p>
    </div>
    <div class="btn-group" role="group">
        <button class="btn btn-sm btn-outline-secondary" ng-click="adjuntarFile.adjuntar()" ><span translate>Adjuntar</span></button>
        <button class="btn btn-sm btn-outline-secondary" ng-click="adjuntarFile.borrarContenido()"><span translate>Limpiar</span></button>
    </div>
    <input ng-show="false" type="file" accept="*/*"/>
