<div class="d-flex flex-column flex-fill h-100">
  <div class="card-header d-flex">
    <h4 class="card-title mr-auto" translate>Control Acceso</h4>
    <div class="btn-group btn-group-sm p-2" role="group" aria-label="">

      <button ng-click="ctrl.grilla.fillGrid();" type="button" class="btn btn-secondary cs-btn-min-width">
        <div>Actualizar</div>
        <div><i class="fas fa-sync cs-fa-15x"></i></div>
      </button>
      <button type="button" class="btn btn-secondary cs-btn-min-width" click-and-disable="ctrl.close()">
        <div translate>Cerrar</div>
        <div><i class="fas fa-times cs-fa-15x"></i> </div>
      </button>

    </div>
  </div>
  <div class="m-2 mt-0 h-100" style="overflow:hidden">
    <grilla gridoptions="ctrl.gridOptions" urlback="movimientos/disppermanentes" 
      showfilters="false" onclick-export="ctrl.exportar(tipo)"
       pagesize="2000" class="d-flex flex-column w-100 h-100" api="ctrl.grilla=API" />
  </div>
</div>
