<div class="d-flex flex-column flex-fill h-100   ">
  <div class="btn-group btn-group-responsive d-flex " role="group">

  <button type="button" class="btn btn-sm btn-outline-secondary" ng-click="ctrl.viewDocList()">
    <i class="fa fa-list"></i><span translate>Lista documentos</span>
  </button>

  <!-- button type="button" class="btn btn-sm btn-outline-secondary" ng-click="ctrl.onCloseBtn()">
    <i class="fa fa-times"></i><span>Cerrar</span>
  </button -->
  </div>
  <iframe style="width: 100%;height: 100%; margin: auto; " x-srcdoc="{{ ctrl.srcdoc }}" ng-src="{{ ctrl.docslisturl }}" frameborder="0" allowfullscreen sandbox="allow-same-origin allow-scripts allow-popups" ></iframe>
 
</div>
