<app-lector ng-show="tipouso.codTipoUso == 'LECTOR'" ng-model="tipouso.json_parametros" readonly="tipouso.readonly"></app-lector>
<app-din ng-show="tipouso.codTipoUso == 'DIN'" ng-model="tipouso.json_parametros"></app-din>
<app-din-ext ng-show="tipouso.codTipoUso == 'DINEXT'" ng-model="tipouso.json_parametros"></app-din-ext>
<app-dout ng-show="tipouso.codTipoUso == 'DOUT'" ng-model="tipouso.json_parametros"></app-dout>
<app-ain ng-show="tipouso.codTipoUso == 'AIN'" ng-model="tipouso.json_parametros"></app-ain>
<app-aout ng-show="tipouso.codTipoUso == 'AOUT'" ng-model="tipouso.json_parametros"></app-aout>
<app-comunic ng-show="tipouso.codTipoUso == 'COMUNIC'" ng-model="tipouso.json_parametros"></app-comunic>
<app-suceso ng-show="tipouso.codTipoUso == 'SUCESO'" ng-model="tipouso.json_parametros" readonly="tipouso.readonly"></app-suceso>
