<style>
    .display-normal {
        background-color: greenyellow;
    }

    .display-warning {
        background-color: yellow;
    }

    .display-danger {
        background-color: red;
    }

    .btn-cmd i {
        font-size: 2rem;
    }

    .btn-smx {
            padding: 0.15rem 0.6rem;
            border-radius: 0.2rem;
        }



    @media (max-width: 600px) {
        .btn-smx {
            padding: 0.15rem 0.6rem;
            font-size: .875rem;
            line-height: 1;
            border-radius: 0.2rem;


        }

        .btn-cmd i {
            font-size: 1rem;
        }

    }

</style>
<div style="overflow: none;" class="m-2 mx-auto cs-fnt-display">
    <div class="nopadding text-center container rounded"
        ng-class="{'display-warning' : widgetdisplayArea54.display_falla,'display-danger': widgetdisplayArea54.display_alarma, 'display-normal': widgetdisplayArea54.display_falla+widgetdisplayArea54.display_alarma==0 }">
        <div class="row d-flex justify-content-center"><span class="" style="white-space: pre; "> {{
                widgetdisplayArea54.linea1 }}</span></div>
        <div class="row d-flex justify-content-center"><span class="" style="white-space: pre; "> {{
                widgetdisplayArea54.linea2 }}</span></div>
        <div class="row d-flex justify-content-center"><span class="" style="white-space: pre; "> {{
                widgetdisplayArea54.linea3 }}</span></div>
        <div class="row d-flex justify-content-center"><span class="" style="white-space: pre; "> {{
                widgetdisplayArea54.linea4 }}</span></div>
        <div ng-if="widgetdisplayArea54.command_enabled" class="row d-flex justify-content-center mr-1 mt-1 ml-1 mb-1">
            <button type="button" class="btn btn-outline-primary btn-smx btn-detail mr-1 btn-cmd"
                ng-click="widgetdisplayArea54.sendCMD('reset')"><i class="fas fa-sync"></i></button>
            <button ng-if="widgetdisplayArea54.display_buzzer" type="button"
                class="btn btn-outline-primary btn-smx btn-detail mr-1 btn-cmd"
                click-and-disable="widgetdisplayArea54.sendCMD('ack')"><i class="fas fa-volume-mute"></i></button>
            <button type="button" class="btn btn-outline-primary btn-smx btn-detail mr-1 btn-cmd"
                click-and-disable="widgetdisplayArea54.sendCMD('up')"><i class="fas fa-caret-up"></i></button>
            <button type="button" class="btn btn-outline-primary btn-smx btn-detail mr-1 btn-cmd"
                click-and-disable="widgetdisplayArea54.sendCMD('down')"><i class="fas fa-caret-down"></i></button>
            <button type="button" class="btn btn-outline-primary btn-smx btn-detail mr-1 btn-cmd"
                click-and-disable="widgetdisplayArea54.sendCMD('left')"><i class="fas fa-caret-left"></button>
            <button type="button" class="btn btn-outline-primary btn-smx btn-detail mr-1 btn-cmd"
                click-and-disable="widgetdisplayArea54.sendCMD('right')"><i class="fas fa-caret-right"></button>

        </div>
    </div>
</div>